<table id="description" class="table-striped table-bordered">
	<tr>
		<td>Name</td>
		<td>{{detector.name}}</td>
	</tr>
	<tr>
		<td>Detector</td>
		<td>{{detector.id}}</td>
	</tr>
	<tr>
		<td>Freeway</td>
		<td>{{detector.fwy}}</td>
	</tr>
	<tr>
		<td>Type</td>
		<td>{{detector.ltype}}</td>
	</tr>
	<tr>
		<td>Direction</td>
		<td>{{detector.dir}}</td>
	</tr>
	<tr>
		<td>County</td>
		<td>{{detector.county}}</td>
	</tr>
	<tr>
		<td>City</td>
		<td>---</td>
	</tr>
	<tr>
		<td>Latitude</td>
		<td>{{detector.lat}} <i class="fa fa-pencil" aria-hidden="true"></i></td>
	</tr>
	<tr>
		<td>Longitude</td>
		<td>{{detector.lon}} <i class="fa fa-pencil" aria-hidden="true"></i></td>
	</tr>
	<tr>
		<td>FATV In</td>
		<td>{{detector.fatv_in_id}}</td>
	</tr>
	<tr>
		<td>FATV Out</td>
		<td>{{detector.fatv_out_id}}</td>
	</tr>
</table>