#selection {
	height: 500px;
}

#leaf-map {
	height: 100%;
}

.plots-container {
	height: 500px;
}

.plot-container {
	background-color: #eee;
	height: 100%;
	padding-top: 20px;
}

#detector-info {
	height: 100%;
}

#legend {
	height: 100%;
}

table {
	height: 100%;
	width: 100%;

	text-align: center;
}

table i {
	float: right;
	margin-right: 10px;
}

.highlight {
	background: #b5e0ff;
}

.form-label {
	display: inline-block;
	min-width: 4em;
	text-align: right;
}

.det-value {
	min-width: 12em;
}

#settings {
	margin: 10px;
}
